@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #f9f9f9;
  padding-top: 78px;
}

:root {
  --color-primary: #e3e1e6;
  --color-secondary: #f9f4d7;
  --linear-bg: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  --text-primary: #121212;
  --text-secondary: #f9f9f9;
  --bg-color: #e3e1e6;
}

a {
  text-decoration: none;
  color: currentColor;
  font-size: 16px;
}

p {
  font-size: 18px;
}

h1,
h2,
h3 {
  font-family: "Playfair Display", serif;
}
h1 {
  font-size: 60px;
}
h2 {
  font-size: 48px;
}
h3 {
  font-size: 40px;
  font-weight: 400;
}
h4 {
  font-size: 16px;
  font-weight: 700;
  text-transform: capitalize;
}

@media (max-width: 523px) {
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 32px;
  }
  h3 {
    font-size: 28px;
    font-weight: 400;
  }
  h4 {
    font-size: 16px;}
}
@media (max-width: 375px) {
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 32px;
  }
  h3 {
    font-size: 28px;
    font-weight: 400;
  }
  h4 {
    font-size: 16px;}
}

section {
  padding: 92px 0 120px 0;
}

.max-width {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 100px 0 100px;
}

@media (max-width: 1024px) {
  .max-width {
    padding: 0 50px 0 50px;
  }
}
@media (max-width: 1024px) {
  .max-width {
    padding: 0 50px 0 50px;
  }
}
@media (max-width: 768px) {
  .max-width {
    padding: 0 24px 0 24px;
  }
}
.margin-left {
  max-width: 1440px;
  margin-left: calc((100vw - (1440px - 200px)) / 2);
}

@media (max-width: 1024px) {
  .margin-left {
    margin: 0;
    margin: 0 50px 0 50px;
  }
}
@media (max-width: 768px) {
  .margin-left {
    margin: 0;
    margin: 0 24px 0 50px;
  }
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.btn {
  padding: 12px 24px;
  border-radius: 8px;
  font-weight: 500;
  border: none;
}
.btn--primary {
  background-color: var(--color-secondary);
  color: var(--text-primary);
}
.btn--icon {
  display: flex;
  max-width: 100%;
  align-items: center;
}
.btn--icon img {
  display: block;
}
.btn--icon span {
  display: block;
  margin-left: 15px;
}

/* navigation */
.holistic-nav {
  background-color: var(--color-primary);
  height: 78px;
  padding: 15px 0;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 10;
}
.holistic-nav .flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.holistic-nav .link-box {
  display: flex;
  align-items: center;
  position: relative;
}
.holistic-nav .links:not(:last-child) {
  margin-right: 37px;
}
.holistic-nav .dropdown {
  cursor: pointer;
  position: relative;
  text-decoration: none;
  color: inherit;
}
.holistic-nav .dropdown-menu {
  display: none;
  position: absolute;
  right: 40px;
  transform: translateX(-50%);
  background-color: var(--color-primary);
  padding: 20px;
  padding-top: 40px;
  border-radius: 0 0 20px 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  min-width: 200px;
  z-index: 9;
}

.holistic-nav .link-list:hover .dropdown-menu,
.holistic-nav .link-list:focus-within .dropdown-menu,
.holistic-nav .dropdown-menu:hover {
  display: block;
}

.holistic-nav .dropdown-menu li {
  list-style: none;
  margin-bottom: 10px;
  padding: 0 20px;
}

.holistic-nav .dropdown-menu li:hover {
  background-color: rgba(0, 0, 0, 0.6);
  color: var(--text-secondary);
  border-radius: 20px;
  transition: all 15ms;
}

.holistic-nav .dropdown-menu li:last-child {
  margin-bottom: 0;
}

.burger-menu {
  display: none;
}

@media (max-width: 1024px) {
  .holistic-nav .link-box {
    display: none;
  }
  .burger-menu {
    display: block;
  }
}
/* navigation end */

/* header */

header {
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 212px;
  padding-bottom: 120px;
  min-height: 752px;
  color: var(--text-secondary);
}
header .flex {
  align-items: center;
  justify-content: space-between;
}
header .content-box {
  max-width: 630px;
  margin-right: 88px;
  flex: 1;
}
header h1 {
  margin: 14px auto 24px auto;
}
header p {
  margin-bottom: 45px;
}
header .img-box {
  max-width: 343.94px;
  width: 100%;
  flex: 0.5;
  display: flex;
  justify-content: end;
}
.img-box img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@media (max-width: 1024px) {
  header{
    padding-top: 92px;
    padding-bottom: 120px;
  }
  header .flex {
    flex-direction: column-reverse;
    align-items: start;
  }
  header .img-box {
    margin-bottom: 64px;
    max-width: 200px;
  }
}

@media (max-width: 768px) {
  header{
    padding-top: 92px;
    padding-bottom: 120px;
  }
}


/* Home Header */
.home-header {
  background-image: var(--linear-bg), url("/assets/img/home-page/home-hero.png");
}
/* header end */

/* service options */
.holistic-service {
  background-color: var(--bg-color);
}
.holistic-service .grid {
  grid-template-columns: 1fr 1fr;
  column-gap: 44px;
  row-gap: 44px;
}
.holistic-service .grid-box {
  min-height: 434px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f9f9f9;
  text-align: center;
}
.holistic-service h3 {
  margin: 20px 0;
}
.holistic-service p {
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  .holistic-service .grid {
    grid-template-columns: 1fr;
  }
}
/* holistic service end */

/* holistic healing start */
.holistic-healing .flex {
  justify-content: space-between;
}
.holistic-healing .text-box {
  max-width: 616px;
  margin-right: 88px;
  flex: 1;
}
.holistic-healing h2 {
  margin: 12px 0 24px 0;
}
.holistic-healing p {
  margin-bottom: 45px;
}
.holistic-healing .img-box {
  max-width: 427px;
  width: 100%;
  flex: 0.5;
}

@media (max-width: 1024px) {
  .holistic-healing .flex {
    flex-direction: column;
    justify-content: start;
  }
  .holistic-healing .img-box {
    margin-top: 92px;
  }
}
/* holistic healing end */

/* holistic testimonials start */
.holistic-testimonials .flex {
  justify-content: space-between;
}
.holistic-testimonials .text-box {
  margin-bottom: 64px;
}
.holistic-testimonials .text-box p {
  font-weight: 700;
}
.holistic-testimonials .slider {
  text-align: start;
  display: flex;
  min-height: 240px;
}
.holistic-testimonials .testimonial {
  padding: 45px 24px;
  max-width: 376px;
  width: 100%;
  background: #f9f4d7;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-right: 40px;
}
.holistic-testimonials .testimonial img {
  margin-bottom: 24px;
}

@media (max-width: 1024px) {
  .holistic-testimonials .testimonial {
    max-width: 100%;
    width: 100%;
  }
}

/* slider code */
ul.slick-dots {
}

ul.slick-dots button {
  background-color: #e1d8cc !important;
  border-radius: 100%;
}

.slick-dots li.slick-active button:before {
  opacity: 0.75;
  color: #000;
  background-color: black;
}
.slick-dots li button:focus:before,
.slick-dots li button:hover:before {
  opacity: 0.75;
}
.slick-dots li button:before {
  font-family: slick;
  font-size: 0px !important;
  content: "";
  width: 100% !important;
  height: 100% !important;
  background-color: #e1d8cc;
  border-radius: 100%;
}
/* holistic testimonial end */

/* holisticv-contact */
.holistic-contact {
}
.holistic-contact h2 {
  margin: 14px 0 24px 0;
}
.holistic-contact p {
  max-width: 531px;
}
.holistic-contact .flex {
  margin-top: 64px;
  justify-content: space-between;
}
.holistic-contact .contact-form {
  background-color: transparent;
  margin-right: 29px;
  max-width: 756px;
  width: 100%;
}
.form-group {
  margin-bottom: 15px;
  width: 100%;
}
.form-flex {
  display: flex;
  margin-bottom: 29px;
}
.form-group label {
  display: block;
  margin-bottom: 5px;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 165.5%; /* 29.79px */
}

.form-group input,
.form-group select,
.form-group textarea {
  width: calc(100% - 20px);
  padding: 10px;
  border: none;
  border-bottom: 1px solid #121212;
  border-radius: 0px;
  outline: none;
  background-color: transparent;
}

.interested {
  color: #000;
}

.form-group.full-width {
  width: 100%;
}

.holistic-contact button {
  margin-top: 45px;
}
.holistic-contact .information {
  padding-left: 40px;
  border-left: 1px solid #ccc;
  height: 100%;
  align-self: center;
}
.holistic-contact .information h3 {
  margin-bottom: 32px;
}
.holistic-contact .information a {
  margin-top: 10px;
  margin-bottom: 34px;
}
.contact-number {
  color: var(--primary-color);
  font-weight: 600;
}

.contact-number::before {
  content: url(asset/img/contactus/phone-call-icon.svg);
  margin-right: 14px;
  vertical-align: middle;
}

@media (max-width: 1024px) {
  .holistic-contact .flex {
    flex-direction: column;
  }

  .holistic-contact .information {
    align-self: start;
    margin-top: 64px;
    border: none;
    border-top: 1px solid #ccc;
    padding: 0;
    padding-top: 20px;
  }
}

/* holistic footer */
.holistic-footer {
  background-color: #e3e1e6;
  padding: 59px 0 54px 0;
}

.holistic-footer .flex:first-child {
  padding-bottom: 36px;
  border-bottom: 1px solid #534e55;
  align-items: center;
  justify-content: space-between;
}

.holistic-footer .top-left {
  display: flex;
  align-items: center;
}

.holistic-footer img:first-child {
  margin-right: 17px;
}

.holistic-footer .links:not(:last-child) {
  margin-right: 32px;
}

.holistic-footer .flex:last-child {
  justify-content: space-between;
  align-items: center;
  padding-top: 32px;
}

.holistic-footer .flex:last-child a:first-of-type {
  text-decoration: underline;
}

@media (max-width: 1024px) {
  .holistic-footer .flex:first-child {
    flex-direction: column;
    align-items: start;
    padding-top: 32px;
  }
}

/* About Us Page --- header*/
.about-header {
  background-image: var(--linear-bg), url("/assets/img/home-page/home-hero.png");
}
.about-header .content-box {
  max-width: 687px;
}
.about-header p {
  max-width: 383px;
}
/* Header end */

/* holistic empowering */
.holistic-empowering {
}
.holistic-empowering .flex {
  justify-content: space-between;
  align-items: center;
}
.holistic-empowering .img-box {
  text-align: center;
  margin-right: 44px;
}
.holistic-empowering figcaption {
  font-size: 28px;
  font-weight: 700;
  color: #121212;
  margin-bottom: 14px;
}
.holistic-empowering .text-box {
  max-width: 495px;
}
.holistic-empowering h2 {
  margin-bottom: 27px;
}

@media (max-width: 1024px) {
}
/* holistic empowering  end*/

/* holisrtic */
.holistic-goals {
}
.holistic-goals .flex {
  justify-content: space-between;
}
.holistic-goals .top-left {
  display: flex;
}
.holistic-goals .text-box {
  max-width: 295px;
}
.holistic-goals .text-box h2 {
  margin-bottom: 27px;
}
.holistic-goals .text-box:not(:last-child) {
  margin-right: 47px;
}
.holistic-goals .top-right {
  align-self: flex-end;
}
.holistic-goals .content-box {
  margin-top: 56px;
  justify-content: space-between;
}
.holistic-goals .img-box:not(:last-child) {
  max-width: 273px;
  margin-right: 47px;
}
